<div class="form">

  <ul class="tab-group">
    <li class="tab active"><a href="./signup">S'inscrire</a></li>
    <li class="tab"><a href="./login">Se connecter</a></li>
  </ul>

  <div class="tab-content">
    <div id="signup">
      <h1>Inscrivez vous gratuitement</h1>

      <div class="field-wrap">
        <input  [(ngModel)]="user.name" type="text" placeholder="Nom" required autocomplete="off"/>
      </div>


      <div class="field-wrap">
        <input  [(ngModel)]="user.email" type="email" placeholder="Adresse email" required autocomplete="off"/>
      </div>

      <div class="field-wrap">
        <input  [(ngModel)]="user.password" placeholder="Password" type="password" required autocomplete="off"/>
      </div>
      <p class="alert">{{alert}}</p>

      <button *ngIf="!loading" (click)="signup(user)" type="submit" class="button button-block">C'est parti !</button>

    </div>

  </div><!-- tab-content -->

</div> <!-- /form -->
